<!-- <form [formGroup]="postForm" (ngSubmit)="addPost()">

    <input
        formControlName="title"
        placeholder="title"
        type="text">

    <input
        formControlName="content"
        placeholder="Contenu"
        type="text">

    <button
      type="submit"
      [disabled]="!postForm.valid">Soumettre
    </button>

</form> -->
<div class="form-group row">
    <div class="col-xs-8">
      <h2>Nouveau post</h2>
      <form [formGroup]="postForm" (ngSubmit)="addPost()">
        <div class="form-group form-group-lg">
          <label for="title">Titre</label><br>
          <input type="text" id="title" class="formControl" formControlName="title">
        </div>
        <div class="form-group">
          <label for="autor">Contenu</label><br>
          <textarea type="text" id="content" class="formControl" formControlName="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>
      </form>
    </div>
  </div>
