<li class="list-group-item" [ngClass]="{
'list-group-item-success': loveIts > 0,
'list-group-item-danger': loveIts <0}">
  <div style="float: right">{{date | date: 'dd/MM/yyyy, hh:mm a'}}</div>
  <h3>{{title | titlecase }}</h3>
  <p>{{content}}</p>
  <div class="row justify-content-between">
    <div>

      <button type="button" class="btn btn-success" (click)="loveIt()">
        Love It!
      </button><span>&nbsp;</span>
      <button type="button" class="btn btn-danger" (click)="dontLoveIt()">
        Don't love It!
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-danger justify-content-end" (click)="supprimerPost()">
        Supprimer post
      </button>
    </div>
  </div>
</li>
